:root {
  --white: #f8f8ff;
  --orange: rgb(255, 136, 0);
  --purple: rgb(197, 8, 204);
  --blue: rgb(0, 76, 255);
}

.portfolio-app {
  width: 100%;
}
.topNav {
  background: rgb(88, 58, 180);
  background: linear-gradient(
    90deg,
    rgba(88, 58, 180, 1) 0%,
    rgba(29, 204, 253, 1) 50%,
    rgba(69, 252, 206, 1) 100%
  );
}

.portCont .topNav {
  border-bottom: 5px outset #ff00ea;
}

.nav-item a {
  color: black;
  font-weight: 600;
}

.nav-item .active {
  color: tomato;
}

div h1 p {
  color: white;
}

.portCont {
  min-width: 526px;
}

.profilePic {
	float: left;
	margin: 10px 25px 15px 0px;
	max-width: 13rem;
	border-radius: 5rem;
	border-width: 10px;
	border-style: double solid solid double;
	box-shadow: -5px -5px 0px 0px var(--purple);
}

.carousel-inner {
	max-height: 400px;
	min-height: 400px;
}

.carousel-item {
	max-height: 400px;
	min-height: 400px;
}

.carousel-inner .carousel-caption {
	margin-bottom: 300px;
}

.card {
	margin: 10px;
}

.card:hover {
	box-shadow: inset 0px 0px 8px rgba(232, 102, 236, 1),
	0 0 15px rgba(232, 102, 236, 1);
}

.cardHeader {
	background-color: blueviolet;
	border-radius: 20px;
}
.cardBtn {
	font: 900;
	margin: 5px;
	border-radius: 20px;
	border-style: solid;
	border-color: var(--purple);
	padding: 2px 10px 2px 10px;
	background-color: rgb(0, 0, 0);
}

.cardBtn:hover {
	background-color: rgb(0, 255, 213);
}

.paraTop{
	margin-top:  25px;
}
.cardTitle{
	font-size: 25px;
}

.brewImg,
.budgetImg,
.workoutImg,
.techImg,
.noteImg{
	min-height: 192px;
	max-height: 192px;
}